* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.box1 {

}
.container2 {
    width: 1600px;
    margin: 0 auto;
    background: rgb(92,92,92);
    background: linear-gradient(135deg, rgb(142, 177, 255) 0%, rgb(209, 159, 255) 100%);
    padding: 0 60px;
    border-radius: 20px;
}
.box_inner3 {
    display: flex;
}
.text4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px 80px 20px 80px;
    font-size: 30px;
}
.smallicons4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 300px 0;
}
.fa{
    font-size: 90px;
    color: #3d16a8;
}
.fa-file-text {
    margin: auto;
    font-size: 300px;
    color: rgb(25, 15, 155);
    background-color: #125dff67;
    padding: 10px;
    border-radius: 20px;
    transition: color 1s, background-color 1s;
}
.fa-file-text:hover {
    color: rgb(42, 32, 185);
    background-color: #3a78fd67;
}
.text4 h1 {
    font-size: 70px;
    max-width: 1000px;
    line-height: 100px;
    font-weight: normal;
    background-color: #cdd5ffb2;
    border-radius: 10px;
    border: #a5acce solid 4px;
}
.text4 p {
    font-size: 40px;
    text-align: justify;
    font-style: italic;
    font-stretch: extra-expanded;
    line-height: 70px;
    background-color: #cdd5ffb2;
    padding: 20px;
    border-radius: 10px;
    border: #a5acce solid 4px;
}