* {
    box-sizing: border-box;
}
.box1 {
    border-radius: 10px;
    background: rgb(108, 120, 18);
    background: linear-gradient(0deg, rgb(121, 135, 19) 0%, rgb(130, 17, 17) 100%);
}
.box2 {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    /* задаем размеры и с помощью margin 0 auto центрируем */
}
.box3 {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.item2 {
    display: flex;
    align-items: center;
    margin-right: 40px;
    border: 2px solid rgb(255, 195, 55);
    border-radius: 10px;
    height: 165px;
}
.nember {
    color: #ffffff;
    font-size: 70px;
    font-family: sans-serif;
}
.text {
    color: rgb(255, 195, 55);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
.line {
    background: #ffffff;
    height: 4px;
    width: 50px;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 40% 90% 50% 20%;
}
i.fa {
    font-size: 70px;

    margin-right: 50px;
    margin-left: 10px;
    color: rgb(216, 164, 44);
}