.element {
    color: rgb(35, 135, 63);
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 7%;
}
p {
    background-color: #f6e88b;
    border: 6px green solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    text-align: justify;
    text-decoration-line: underline;
    text-transform: uppercase;
}
#title {
    color: aquamarine;
    height: 100px;
    width: 200px;
    background-image: url(../img/heart.png);
    background-size: contain;
    border: 6px solid green;
    border-style: double;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#a {
    background-color: rgb(255, 0, 0);
}
#b {
    background-color: yellow;
}
#c{
    background-color: green;
}
ol {
    list-style: georgian;
}
ol li:nth-child(odd){
    color: red;
}
.box {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
.box1 {
    background-color: red;
    margin: 10px 40px 20px 30px;
    padding: 10px;
    font-size: 6px;
}
.box2 {
    background-color: blue;
    font-size: 8px;
}
button {
    cursor: pointer;
    height: 30px;
    font-weight: bolder;
    background-color: white;
    border-radius: 10%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    transition: background-color 1s, transform 2s, border-color 1.4s;
}
button:hover{
    background-color: green;
    transform: scale(120%);
    border-color: rgb(2, 91, 2);
}
a:hover {
    text-decoration: none;
    color: blue;
}