* {
    box-sizing: border-box;
}
.menu_inner {
    display: flex;
    width: 400px;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(10, 45, 53);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 15px 0px;
    margin: 0;
}
.column li:first-child {
    color: rgb(153, 83, 55);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column li:last-child {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 6px;
}
.column li{
    padding: 2px 0px;
}