@font-face {
    /* в идеале нужно перечислить через запятую все форматы шрифтов .ttf .woff2 .woff .svg */
    font-family: "Roboto"; /* название шрифта, которое мы задаем сами */
    src: local("Roboto"), /* локальный шрифт загружается у пользователя если есть (по названию) */
    url(./fonts/Roboto-VariableFont_wdth,wght.ttf) format("truetype"); /* шрифт загружается у нас если нет у пользователя */
    font-weight: 100 900; /* переменный диапазон жирности */
    font-stretch: 75% 100%; /* переменная ширина (75% - минимально возможная в принципе) */
    font-style: normal; /* нормальный стиль */
    /* как использовать этот шрифт
    font-family: "Roboto", sans-serif;
    */
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto"),
  url(./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}
/* задаем переменные для цветов */
:root {
    --accent-color: #34547A;
    --text-color-dark: #000;
    --text-color-light: #727272;
    --text-color-input: #5F5D5D;
    --background-color-silver: #EEEFF1;
    --background-color-white: #F9F9F9;
}

html {
     box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header, .about-job, .order {
    background-color: var(--background-color-silver);
}
.profile, .gallery {
    background-color: var(--background-color-white);
}
.achievements-list, .footer, .button {
    background-color: var(--accent-color);
}

.header {
    padding-top: 42px;
}
.hat {
    display: flex;
    justify-content: space-between;
}
.hat__wd-logo {
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 22px;
}
.hat__contents-list {
    padding: 0;
    margin-right: 9px;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.hat__list-element {
    max-height: 19px;
    margin-right: 43px; 
}
.hat__list-element:last-child {
    margin-right: 0; 
}
.hat__element-link {
    letter-spacing: calc(16px/10);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 164.1%;
    text-decoration-line: none;
    color: #000;
    text-decoration-line: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.introduction {
}
.introduction__img {
}
.introduction__acquaintance {
}
.introduction__title {
}
.introduction__text {
}
.regular-text {
}
.introduction__button {
}
.button {
}
